/* inicio estilos generales */
.container.anim-init{
    pointer-events: all;
}
.container-title{
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    background-color: #0000000d;
    font-size: 12px;
    color: #333333;
    text-transform: uppercase;
    font-weight: 600;
    height: 38px;
    margin-bottom: 15px;
}
/* fin estilos generales */
/* inicio estilos welcome */
#welcome{
    height: 100vh;
    min-height: 400px;
}
#welcome .background{
    width: 120%;
    height: inherit;
    min-height: 350px;
    position: absolute;
    opacity: .3;
    top: 0;
    right: 0;
    z-index: 200;
    clip-path: polygon(100% 0, 15% 0, 0 100%, 100% 100%);
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    transition: width 1s, opacity 1s;
}
#welcome .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#welcome .title{
    transform: translateY(-100px);
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    margin-bottom: 15px;
}
#welcome .title span{
    color: #000;
}
#welcome .txt{
    transform: translateY(-100px);
    color: #777;
}
#welcome .tlan{
    position: relative;
    display: inline;
}
#welcome .tltan{
    display: block;
    position: absolute;
    height: 100%;
    background-color: #000;
    top: 0;
    right: 0;
}
@media screen and (max-width: 500px) {
    #welcome .background{
        width: 65%;
    }
}
/* Animations */
#welcome.anim-init .background{
    width: 50%;
    opacity: 1;
}
.anim-off #welcome .background{
    width: 50%;
    opacity: 1;
}
/* fin estilos welcome */
/* inicio estilos about me */
#about{
    background-color: #f7f7f7;
}
#about .box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    width: 100%;
}
#about .image{
    opacity: 0;
    max-width: 700px;
    flex-basis: 400px;
    overflow: hidden;
    flex-grow: 1;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    transition: all 1.5s;
}
#about .image img{
    width: 100%;
    height: 100%;
}
#about .cnt{
    transform: translateX(20%);
    opacity: 0;
    flex-grow: 1;
    flex-basis: 400px;
    transition: transform 1s, opacity .5s;
}
#about .text{
    margin-bottom: 40px;
}
/* Animations */
#about.anim-init .image{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
}
#about.anim-init .cnt{
    transform: translateX(0);
    opacity: 1;
}
.anim-off #about .image{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;
}
.anim-off #about .cnt{
    transform: translateX(0);
    opacity: 1;
}
/* fin estilos about me */
/* inicio estilos skills */
#skills .box{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap-reverse; */
    gap: 30px;
    transform: translateX(-20%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}
#skills .text{
    margin-bottom: 17px;
}
#skills .left{
    flex-basis: 60%;
}
#skills .right{
    flex-basis: 40%;
}
#skills .image{
    width: 100%;
}
#skills .languajes{
    width: 100%;
    list-style: none;
}
#skills .lng{
    padding: 0 8px;
    margin: 14px 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
#skills .bar{
    width: 170px;
    height: 5px;
    border-radius: 4px;
    background-color: #ddd;
    position: relative;
}
#skills .line{
    display: inline-block;
    width: 80%;
    height: 100%;
    left: 0;
    border-radius: 4px;
    top: 0;
    position: absolute;
    z-index: 100;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}
#skills .bar::after{
    content: '';
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #777;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    top: 0;
    left: calc(33% - 4px);
    z-index: 200;
}
#skills .bar::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #777;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
    top: 0;
    right: calc(33% - 2px);
    z-index: 200;
}
#skills .prc-bar .txt{
    display: inline-block;
    padding-top: 6px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: #888;
}
/* Animations */
#skills.anim-init .box{
    transform: translateX(0);
    opacity: 1;
}
.anim-off #skills .box{
    transform: translateX(0);
    opacity: 1;
}
/* fin estilos skills */
/* inicio estilos estudios */
#studies .box{
    transform: translateY(-20%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}
#studies .items{
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:40px;
    width: 100%;
}
#studies .background{
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 100;
    transition: transform .5s;
}
#studies .item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    height: 200px;
    flex-grow: 1;
    border-radius: 3px;
    overflow: hidden;
    cursor: pointer;
}
#studies .item .title{
    font-weight: 400;
}
#studies .item .tlt{
    color: #aaa;
    font-style: oblique;
}
#studies .item .date{
    font-size: 14px;
    font-style: italic;
    color: #aaa;
}
#studies .item:hover .background{
    transform: rotate(8deg) scale(1.2);
}
#studies .item:hover .info{
    clip-path: circle(70.7% at 50% 50%);
}
#studies .info{
    width: 100%;
    height: 100%;
    clip-path: circle(0.0% at 50% 50%);
    background-color: #000a;
    color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 200;
    transition: all .5s;
}
#studies .info .cn{
    position: absolute;
    text-align: center;
}
/* Animations */
#studies.anim-init .box{
    transform: translateY(0);
    opacity: 1;
}
.anim-off #studies .box{
    transform: translateY(0);
    opacity: 1;
}
/* fin estilos estudios */
/* inicio estilos contact */
#contact{
    position: relative;
    padding-top: 72.81px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
}
#contact .video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-fit: cover;
}
#contact .background svg{
    position: absolute;
    top: 0;
    z-index: 150;
    height:72.81px;
    width: 100%;
    background-color: transparent;
    transform: rotate(180deg);
}
#contact .title{
    font-size: 72px;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    text-align: center;
    transition: font .6s;
}
#contact .box{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* estilos formulario contacto */
@media screen and (max-width: 900px) {
    #contact .title{
        font-size: 50px;
    }
}
/* fin estilos contact */