<!-- Main container -->
<div class="container tmchld">
    <section class="main">
        <div class="welcome box">
            <div class="cont-title">
                <h2 class="title">{{'welcomeTitle' | translate}}</h2>
                <div class="add" (click)="add()" *ngIf="_login.checkUser()">
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
            <p class="text">{{'welcomeText' | translate}}</p>
        </div>
        <div class="box" id="projects">
            <div class="message" [hidden]="_dbService.arrProjects != undefined">
                <p class="text">{{'errorProjects' | translate}}</p>
            </div>
            <div class="project hov" *ngFor="let project of _dbService.arrProjects; let i = index" [style.background-image]="'url(' + project.image + ')'" (click)="sideBar(i)">
                <div class="info">
                    <div class="prj-head">
                        <h3 class="prj-title" [hidden]="_configuration.lang == 'en'">{{project.es.title}}</h3>
                        <h3 class="prj-title" [hidden]="_configuration.lang == 'es'">{{project.en.title}}</h3>
                        <p class="prj-date">{{project.startDate | date:'MMMM dd, YYYY'}} - {{project.endDate | date:'MMMM dd, YYYY'}}</p>
                    </div>
                    <p class="prj-text" [hidden]="_configuration.lang == 'en'">{{project.es.description}}</p>
                    <p class="prj-text" [hidden]="_configuration.lang == 'es'">{{project.en.description}}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bsd" [ngClass]="{'open':sideBarFlag}">
        <div id="side-bar" >
            <div class="back" (click)="sideBar()"></div>
            <div class="bar">
                <span class="icon-cont hov" (click)="sideBar()" *ngIf="_dbService.selectedProject._id != undefined">
                    <span class="icon"></span>
                </span>
                <div class="info">
                    <h1 class="title" [hidden]="_configuration.lang == 'en'">{{_dbService.selectedProject.es.title}}</h1>
                    <h1 class="title" [hidden]="_configuration.lang == 'es'">{{_dbService.selectedProject.en.title}}</h1>
    
                    <p class="text date"><span class="resalt">{{'startProject' | translate}}</span> {{_dbService.selectedProject.startDate | date:'MMMM dd, YYYY'}}</p>
                    <p class="text date"><span class="resalt">{{'endProject' | translate}}</span> {{_dbService.selectedProject.endDate | date:'MMMM dd, YYYY'}}</p>
    
                    <p class="text" [hidden]="_configuration.lang == 'en'">{{_dbService.selectedProject.es.description}}</p>
                    <p class="text" [hidden]="_configuration.lang == 'es'">{{_dbService.selectedProject.en.description}}</p>
    
                    <p class="text resalt hov" (click)="redirect(_dbService.selectedProject.urlPage)">{{'linkPage' | translate}}<span class="url">{{'redirect' | translate}}</span></p>
                    <p class="text sec resalt hov" (click)="redirect(_dbService.selectedProject.urlRep)">{{'linkRep' | translate}}<span class="url">{{'redirect' | translate}}</span></p>
                    <p class="text resalt">{{'languajes' | translate}}</p>
                    <ul class="list">
                        <li class="text lng" *ngFor="let lng of _dbService.selectedProject.languajes">{{lng}}</li>
                    </ul>
                    <div class="bottom" *ngIf="_login.checkUser()">
                        <div class="btns">
                            <div class="btn hov update" (click)="update()">{{'updateBtn' | translate}}</div>
                            <div class="btn hov delete" (click)="delete()">{{'deleteBtn' | translate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>